<h1>Enter Login Credentials Below</h1>

<form action="/users/welcome" method="get">

  <label for="user_id">User ID:</label><br>
  <input type="text" name="user_id" placeholder="User ID" required/><br>

  <label for="password">Password:</label><br>
  <input type="text" name="password" placeholder="Password" required/><br>

  <input type="submit" value="Submit"><br><br>
  <a href="/users/registration">New User? Register Here</a>

</form>
